<img src="https://dsiag.ch/images/dsi_rgb.png" alt="dsi logo" width="100" style="position: absolute; right: 0px;"/>

# Electricity production plants - Descriptive Statistics


Data origins from https://opendata.swiss/en/dataset/elektrizitatsproduktionsanlagen and we use the following .csv files.

- ElectricityProductionPlant.csv 
- MainCategoryCatalogue.csv
- SubCategoryCatalogue.csv
- PlantCategoryCatalogue.csv


![Data Overview](http://yuml.me/64ed9f84.png)

### Loading data

We use `pd.read_csv` to read the csv files into a `DataFrame`. 

After reading we set the index to the corresponding column which makes it easier to join tables.

In [1]:
import pandas as pd

In [2]:
epp = pd.read_csv('../data/ch.bfe.elektrizitaetsproduktionsanlagen/ElectricityProductionPlant.csv').set_index('xtf_id')
mainCat = pd.read_csv('../data/ch.bfe.elektrizitaetsproduktionsanlagen/MainCategoryCatalogue.csv').set_index('Catalogue_id')
subCat = pd.read_csv('../data/ch.bfe.elektrizitaetsproduktionsanlagen/SubCategoryCatalogue.csv').set_index('Catalogue_id')
plantCat = pd.read_csv('../data/ch.bfe.elektrizitaetsproduktionsanlagen/PlantCategoryCatalogue.csv').set_index('Catalogue_id')


[display(d.head()) for d in [epp, mainCat, subCat,  plantCat]]

,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
xtf_id,,,,,,,,,,,,
5646,Rue des Creusets 41,1948,Fionnay,VS,1958-03-07,1872000.0,1872000.0,maincat_1,subcat_1,plantcat_6,2589880.0,1097661.0
5686,Binenweg 5,3904,Naters,VS,1969-09-01,349576.0,349576.0,maincat_1,subcat_1,plantcat_7,2644115.0,1131390.0
5726,Robbia 504G,7741,San Carlo,GR,1910-11-03,29150.0,29150.0,maincat_1,subcat_1,plantcat_2,2801863.0,1136379.0
5727,Via Principale 16,7744,Campocologno,GR,1907-03-01,55000.0,55000.0,maincat_1,subcat_1,plantcat_7,2808646.0,1123676.0
5730,Büdemli 65B,7240,Küblis,GR,1922-01-01,44200.0,44200.0,maincat_1,subcat_1,plantcat_7,2778481.0,1198505.0

,de,fr,it,en
Catalogue_id,,,,
maincat_1,Wasserkraft,Énergie hydraulique,Forza idrica,Hydroelectric power
maincat_2,Übrige erneuerbare Energien,Autres énergies renouvelables,Altre energie rinnovabili,Other renewable energies
maincat_3,Kernenergie,Énergie nucléaire,Energia nucleare,Nuclear energy
maincat_4,Fossile Energieträger,Agents énergétiques fossiles,Vettori energetici fossili,Fossil fuel

,de,fr,it,en
Catalogue_id,,,,
subcat_1,Wasserkraft,Énergie hydraulique,Forza idrica,Hydroelectric power
subcat_2,Photovoltaik,Photovoltaïque,Energia fotovoltaica,Photovoltaic
subcat_3,Windenergie,Énergie éolienne,Energia eolica,Wind energy
subcat_4,Biomasse,Biomasse,Biomassa,Biomass
subcat_5,Geothermie,Géothermie,Geotermia,Geothermal energy

,de,fr,it,en
Catalogue_id,,,,
plantcat_1,Abwasserkraftwerk,Centrale sur les eaux usées,Centrale ad acqua di scarico,Wastewater power plant
plantcat_2,Ausleitkraftwerk,Centrale de dérivation,Centrale a derivazione,Diversion power plant
plantcat_3,Dotierwasserkraftwerk,Centrale de dotation,Centrale ad acqua di dotazione,Weir plant
plantcat_4,Durchlaufkraftwerk,Centrale au fil de l’eau,Centrale ad acque di deflusso,Continuous power plant
plantcat_5,Trinkwasserkraftwerk,Centrale sur l’eau potable,Centrale ad acqua potabile,Drinking water power plant

[None, None, None, None]

***

<div class="alert alert-block alert-success">
<b>Exercise: Mode, mean and median</b> 

1. Mode: Which municipality has the most electricity power plants? Select all power plants with this municipality.
2. Mean: What is the mean total power of all power plants in Switzerland?
3. Median: What is the median total power of all power plants in Switzerland? Can you explain why it is so different from the mean?
4. (Optional): Calculate the mean and median total power for each main category. Where is the largest difference?
    

</div>

***

In [3]:
# Which municipality has the most electricity power plants?
epp.Municipality.mode()

0    Basel
dtype: object

In [4]:
# Select all power plants with this municipality.
epp[epp.Municipality == epp.Municipality.mode()[0]]

,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
xtf_id,,,,,,,,,,,,
10917,Im Tiefen Boden 71,4059,Basel,BS,2008-11-14,5.50,5.50,maincat_2,subcat_2,plantcat_8,NaN,NaN
12275,Hagenaustrasse 40/70,4056,Basel,BS,2008-09-22,8107.30,8107.30,maincat_2,subcat_10,plantcat_12,2609816.0,1269165.0
15339,Murbacherstrasse 34,4056,Basel,BS,2009-08-04,39.60,39.60,maincat_2,subcat_2,plantcat_8,2610409.0,1268743.0
15914,Elsässerstrasse 34,4002,Basel,BS,2000-08-24,19.80,19.80,maincat_2,subcat_2,NaN,2610621.0,1268711.0
15915,Blotzheimerstrasse 82,4056,Basel,BS,2000-09-04,17.40,17.40,maincat_2,subcat_2,NaN,2609258.0,1267821.0
...,...,...,...,...,...,...,...,...,...,...,...,...
174071,Im Holeeletten 28,4054,Basel,BS,2020-10-05,5.36,5.36,maincat_2,subcat_2,plantcat_9,2609614.0,1266206.0
174402,Dornacherstrasse 273,4053,Basel,BS,2020-06-10,16.86,16.86,maincat_2,subcat_2,plantcat_9,2612046.0,1265534.0
174817,Wollbacherstrasse 31,4058,Basel,BS,2020-06-08,3.91,6.75,maincat_2,subcat_2,plantcat_9,2613604.0,1268508.0
174935,Bündnerstrasse 56,4055,Basel,BS,2020-09-25,9.23,9.23,maincat_2,subcat_2,plantcat_8,2609579.0,1267614.0
175013,Steinentorberg 8,4051,Basel,BS,2020-10-01,29.40,29.40,maincat_2,subcat_2,plantcat_8,NaN,NaN

In [5]:
# What is the mean total power of all power plants in Switzerland?
epp.TotalPower.mean()

196.1231501934517

In [6]:
# What is the median total power of all power plants in Switzerland?
epp.TotalPower.median()

9.54

In [7]:
# Calculate the mean total power for each main category.  
epp_mean = epp.groupby('MainCategory')['TotalPower'].mean()
epp_mean

MainCategory
maincat_1     10737.593180
maincat_2        29.951860
maincat_3    753650.000000
maincat_4      1475.295337
Name: TotalPower, dtype: float64

In [8]:
# Calculate the median total power for each main category.  
epp_median = epp.groupby('MainCategory')['TotalPower'].median()
epp_median

MainCategory
maincat_1       160.00
maincat_2         9.43
maincat_3    699900.00
maincat_4       143.00
Name: TotalPower, dtype: float64

In [9]:
# Where is the largest difference
epp_diff = epp_mean - epp_median
epp_diff = epp_diff.sort_values(ascending = False)
epp_diff

MainCategory
maincat_3    53750.000000
maincat_1    10577.593180
maincat_4     1332.295337
maincat_2       20.521860
Name: TotalPower, dtype: float64

### Merge Sub Tables

To simplify the understanding of the categories we join the names of the categories into the main power plant table

In [10]:
lang='de'

epp = epp.merge(mainCat[lang].rename("MainCategoryName"),how='left', left_on='MainCategory', right_index=True)
epp = epp.merge(subCat[lang].rename("SubCategoryName"),how='left', left_on='SubCategory', right_index=True)
epp = epp.merge(plantCat[lang].rename("PlantCategoryName"),how='left', left_on='PlantCategory', right_index=True)

***

<div class="alert alert-block alert-success">
<b>Exercise: Count absolute frequencies for categories</b> 

1. Count the absolute frequencies for main categories. Which category has the most power plants?
2. Count the absolute frequencies for main and sub categories. Which category/sub-category has the most power plants?
3. (Optional) Can you merge the frequencies with the mean values of the previous optional exercise for each category/sub-category in one table?

**Notes**: 
- *use [.groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) to group by one ore multiple categories* 
- *use [.count](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html) to count the frequencies* 
- *use [pd.merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) to join two Series into a DataFrame*
</div>

***

In [11]:
# Count the absolute frequencies for main categories.
epp.groupby('MainCategory')['TotalPower'].count().sort_values(ascending=False)

MainCategory
maincat_2    111797
maincat_1      1453
maincat_4       193
maincat_3         4
Name: TotalPower, dtype: int64

In [12]:
# Count the absolute frequencies for main and sub categories. 
epp.groupby(['MainCategory', 'SubCategory'])['TotalPower'].count()

MainCategory  SubCategory
maincat_1     subcat_1         1453
maincat_2     subcat_10          32
              subcat_2       111287
              subcat_3           69
              subcat_4          409
maincat_3     subcat_6            4
maincat_4     subcat_7            5
              subcat_8          188
Name: TotalPower, dtype: int64

In [13]:
epp_grouped = epp.groupby(['MainCategory', 'SubCategory'])['TotalPower']

In [17]:
epp_cnt = epp_grouped.count()
epp_mean = epp_grouped.mean()
epp_median = epp_grouped.median()

In [32]:
df = pd.merge(epp_cnt,epp_mean , right_index = True,
               left_index = True)

df = df.rename(columns={"TotalPower_x": "count", "TotalPower_y": "mean"})
df['median'] = epp_median
df

                           count           mean     median
MainCategory SubCategory
maincat_1    subcat_1       1453   10737.593180     160.00
maincat_2    subcat_10        32   12246.259375   11825.00
             subcat_2     111287      23.798528       9.38
             subcat_3         69    1284.715942     950.00
             subcat_4        409     536.762103     130.00
maincat_3    subcat_6          4  753650.000000  699900.00
maincat_4    subcat_7          5      77.060000      40.00
             subcat_8        188    1512.482447     143.50