<img src="https://dsiag.ch/images/dsi_rgb.png" alt="dsi logo" width="100" style="position: absolute; right: 0px;"/>

# Elektrizitaetsproduktionsanlagen

## Load data

In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('../data/ch.bfe.elektrizitaetsproduktionsanlagen/ElectricityProductionPlant.csv')
display(type(df))
display(df.shape)
display(df)

pandas.core.frame.DataFrame

(113447, 13)

,xtf_id,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
0,5646,Rue des Creusets 41,1948,Fionnay,VS,1958-03-07,1872000.00,1872000.00,maincat_1,subcat_1,plantcat_6,2589880.0,1097661.0
1,5686,Binenweg 5,3904,Naters,VS,1969-09-01,349576.00,349576.00,maincat_1,subcat_1,plantcat_7,2644115.0,1131390.0
2,5726,Robbia 504G,7741,San Carlo,GR,1910-11-03,29150.00,29150.00,maincat_1,subcat_1,plantcat_2,2801863.0,1136379.0
3,5727,Via Principale 16,7744,Campocologno,GR,1907-03-01,55000.00,55000.00,maincat_1,subcat_1,plantcat_7,2808646.0,1123676.0
4,5730,Büdemli 65B,7240,Küblis,GR,1922-01-01,44200.00,44200.00,maincat_1,subcat_1,plantcat_7,2778481.0,1198505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113442,175975,Chemin de la Combettaz 4,1337,Vallorbe,VD,2020-10-23,14.08,14.08,maincat_2,subcat_2,plantcat_8,2519596.0,1173907.0
113443,175976,Route de la Condémine 7,1728,Rossens,FR,2020-12-30,5.04,5.04,maincat_2,subcat_2,plantcat_9,2574602.0,1174452.0
113444,175977,Erlenweg 9,2543,Lengnau,BE,2020-08-27,10.24,10.24,maincat_2,subcat_2,plantcat_8,2594348.0,1225517.0
113445,175978,Rämsen 732,9063,Stein,AR,2021-02-11,12.96,12.96,maincat_2,subcat_2,plantcat_8,2743553.0,1250758.0
113446,175981,Route de Chesalles 12A,1512,Chavannes sur Moudon,VD,2020-11-06,14.88,14.88,maincat_2,subcat_2,plantcat_9,2551935.0,1167630.0

## Selecting data

### Single column selection

In [33]:
cantons = df["Canton"]
# Alternative df.Canton
display(type(cantons))
display(cantons.shape)
display(cantons)

pandas.core.series.Series

(113447,)

0         VS
1         VS
2         GR
3         GR
4         GR
          ..
113442    VD
113443    FR
113444    BE
113445    AR
113446    VD
Name: Canton, Length: 113447, dtype: object

### Mulitple columns selection

In [35]:
locations = df[['PostCode', 'Municipality']]
display(type(locations))
display(locations.shape)
display(locations)

pandas.core.frame.DataFrame

(113447, 2)

        PostCode          Municipality
0           1948               Fionnay
1           3904                Naters
2           7741             San Carlo
3           7744          Campocologno
4           7240                Küblis
...          ...                   ...
113442      1337              Vallorbe
113443      1728               Rossens
113444      2543               Lengnau
113445      9063                 Stein
113446      1512  Chavannes sur Moudon

[113447 rows x 2 columns]

### Filter rows

Conditional Series based on expression

In [41]:
df.PostCode == 3097

0         False
1         False
2         False
3         False
4         False
          ...
113442    False
113443    False
113444    False
113445    False
113446    False
Name: PostCode, Length: 113447, dtype: bool

In [52]:
in_3097 = df[df.PostCode == 3097]
in_3097

,xtf_id,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
2190,11404,Freiestrasse 6,3097,Liebefeld,BE,2006-11-30,3.15,8.95,maincat_2,subcat_2,plantcat_8,2598983.0,1197669.0
2505,11970,Waldeggstrasse 51,3097,Liebefeld Köniz,BE,2007-04-20,6.80,6.80,maincat_2,subcat_2,plantcat_8,2598462.0,1197950.0
4328,16881,Feldrainstrasse 68,3097,Liebefeld,BE,2009-09-09,3.50,3.50,maincat_2,subcat_2,plantcat_9,2599088.0,1197393.0
6736,23896,Rosenweg 16,3097,Liebefeld,BE,2010-08-18,9.00,9.00,maincat_2,subcat_2,plantcat_9,2597958.0,1197669.0
8407,32109,Höheweg 42a,3097,Liebefeld,BE,2010-11-15,9.00,9.00,maincat_2,subcat_2,plantcat_8,2597806.0,1197683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102734,163222,Rosenweg 38,3097,Liebefeld,BE,2020-06-17,24.42,24.42,maincat_2,subcat_2,plantcat_9,2597714.0,1197547.0
103857,164617,Feldrainstrasse 62,3097,Liebefeld,BE,2019-07-25,32.90,32.90,maincat_2,subcat_2,plantcat_9,2599043.0,1197411.0
106775,167938,Höheweg 72c,3097,Liebefeld,BE,2020-09-30,9.12,9.12,maincat_2,subcat_2,plantcat_9,2597643.0,1197598.0
106776,167939,Buchenweg 18,3097,Liebefeld,BE,2020-09-22,9.60,9.60,maincat_2,subcat_2,plantcat_8,2598183.0,1197631.0
108575,170026,Gartenstadtstrasse 23,3097,Liebefeld,BE,2020-09-30,17.16,17.16,maincat_2,subcat_2,plantcat_8,2597943.0,1197329.0

In [51]:
in_3097_5012 = df[(df.PostCode == 3097) | (df.PostCode == 5012)]
in_3097_5012

,xtf_id,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
2190,11404,Freiestrasse 6,3097,Liebefeld,BE,2006-11-30,3.15,8.95,maincat_2,subcat_2,plantcat_8,2598983.0,1197669.0
2505,11970,Waldeggstrasse 51,3097,Liebefeld Köniz,BE,2007-04-20,6.80,6.80,maincat_2,subcat_2,plantcat_8,2598462.0,1197950.0
4173,16435,Bäckerstrasse 2,5012,Schönenwerd,SO,2007-09-10,9.10,9.10,maincat_2,subcat_2,plantcat_8,2642569.0,1246687.0
4328,16881,Feldrainstrasse 68,3097,Liebefeld,BE,2009-09-09,3.50,3.50,maincat_2,subcat_2,plantcat_9,2599088.0,1197393.0
6736,23896,Rosenweg 16,3097,Liebefeld,BE,2010-08-18,9.00,9.00,maincat_2,subcat_2,plantcat_9,2597958.0,1197669.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103857,164617,Feldrainstrasse 62,3097,Liebefeld,BE,2019-07-25,32.90,32.90,maincat_2,subcat_2,plantcat_9,2599043.0,1197411.0
106775,167938,Höheweg 72c,3097,Liebefeld,BE,2020-09-30,9.12,9.12,maincat_2,subcat_2,plantcat_9,2597643.0,1197598.0
106776,167939,Buchenweg 18,3097,Liebefeld,BE,2020-09-22,9.60,9.60,maincat_2,subcat_2,plantcat_8,2598183.0,1197631.0
107153,168359,Dorfstrasse 36,5012,Eppenberg,SO,2020-09-03,19.50,19.50,maincat_2,subcat_2,plantcat_8,2644395.0,1247559.0
108575,170026,Gartenstadtstrasse 23,3097,Liebefeld,BE,2020-09-30,17.16,17.16,maincat_2,subcat_2,plantcat_8,2597943.0,1197329.0

,xtf_id,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
0,5646,Rue des Creusets 41,1948,Fionnay,VS,1958-03-07,1872000.00,1872000.00,maincat_1,subcat_1,plantcat_6,2589880.0,1097661.0
1,5686,Binenweg 5,3904,Naters,VS,1969-09-01,349576.00,349576.00,maincat_1,subcat_1,plantcat_7,2644115.0,1131390.0
2,5726,Robbia 504G,7741,San Carlo,GR,1910-11-03,29150.00,29150.00,maincat_1,subcat_1,plantcat_2,2801863.0,1136379.0
3,5727,Via Principale 16,7744,Campocologno,GR,1907-03-01,55000.00,55000.00,maincat_1,subcat_1,plantcat_7,2808646.0,1123676.0
4,5730,Büdemli 65B,7240,Küblis,GR,1922-01-01,44200.00,44200.00,maincat_1,subcat_1,plantcat_7,2778481.0,1198505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113442,175975,Chemin de la Combettaz 4,1337,Vallorbe,VD,2020-10-23,14.08,14.08,maincat_2,subcat_2,plantcat_8,2519596.0,1173907.0
113443,175976,Route de la Condémine 7,1728,Rossens,FR,2020-12-30,5.04,5.04,maincat_2,subcat_2,plantcat_9,2574602.0,1174452.0
113444,175977,Erlenweg 9,2543,Lengnau,BE,2020-08-27,10.24,10.24,maincat_2,subcat_2,plantcat_8,2594348.0,1225517.0
113445,175978,Rämsen 732,9063,Stein,AR,2021-02-11,12.96,12.96,maincat_2,subcat_2,plantcat_8,2743553.0,1250758.0
113446,175981,Route de Chesalles 12A,1512,Chavannes sur Moudon,VD,2020-11-06,14.88,14.88,maincat_2,subcat_2,plantcat_9,2551935.0,1167630.0

## Code cells



In the case of code cells, the output of the last statement is always output under the cell.

The cell is executed using Control-Enter

In [24]:
1+5

6

If several statements are to be output, this can be done using `print ()`